name: Deploy SAM Template and Start Instance Refresh

on:
  push:
    branches:
      - main 
    paths:
      - 'template.yaml'
      - 'samconfig.toml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3 # Składnia uses mówi gitowi 'skorzystaj z publicznej akcji'. Bardzo szeroka biblioteka zrobionych akcji

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install AWS SAM CLI 
      run: |
        pip install aws-sam-cli

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Deploy SAM application
      run: sam build && sam deploy --no-fail-on-empty-changeset
 